/* /static/style.css */

/*
 * stuff for desktop view.
 */
@media (min-width: 767px) {
  .nav_item {
    display: inline-block;
  }
}

/*
 * stuff for mobile view.
 */
@media (max-width: 767px) {
  .nav_item {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

/*
 * universal styling.
 */
body {
  background-color: #333;
  color: white;
  text-align: center;
}

.nav_item {
  background-color: #0000003d;
  font-size: 2em;
  width: 30vw;
}


a {
  color: #E56717;
  text-decoration: none;
}

a:visited {
  color: #E56717;
}
